/* Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding: 1rem 2rem;
    color: #fff;
    position: relative;
}

.navbar-logo a {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.menu-icon {
    display: none;
    font-size: 1.8rem;
    cursor: pointer;
}

.navbar-links {
    display: flex;
    gap: 1.5rem;
    list-style: none;
}

.navbar-links a {
    color: #f9fafb;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.2s ease-in-out;
}

.navbar-links a:hover {
    color: #38bdf8;
}
.btn {
    background: linear-gradient(135deg, #10f3f3, #0beaea);
    color: #2e2e2e;
    padding: 0.75em 1.563em;

    border: none;
    border-radius: 25px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, background-color 0.3s ease,
        box-shadow 0.3s ease;
}

.btn:hover {
    transform: scale(1.1) rotate(-1deg);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    transition: all 200ms ease-in-out
}
.l-btn {
    background: linear-gradient(135deg, #fcfefe, #f2f4f4);
    color: #2e2e2e;
    padding: 0.75em 1.563em;

    border: none;
    border-radius: 25px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, background-color 0.3s ease,
        box-shadow 0.3s ease;
}

.l-btn:hover {
    transform: scale(1.1) rotate(-1deg);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    transition: all 200ms ease-in-out
}
/* Responsive styles */
@media (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    .navbar-links {
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #1f2937;
        width: 25%;
        display: none;
        padding: 1rem;
    }

    .navbar-links.active {
        display: flex;
    }

    .navbar-links li {
        margin-bottom: 1rem;
    }

    .navbar-links li:last-child {
        margin-bottom: 0;
    }
}