.discussion-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.875em;
    align-items: flex-start;
    padding: 1.875em;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    background: linear-gradient(135deg, #73c7eb47, #012c324b);
    color: #2e2e2e;
    transition: transform 0.4s ease, box-shadow 0.4s ease, padding 0.3s ease;
    max-width: 700px;
    margin: 100px auto;
    position: relative;
    overflow: hidden;
}

.discussion-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.form-group label {
    flex: 0 0 150px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 0;
}

.form-group input,
.form-group textarea {
    flex: 1;
    border: none;
    border-radius: 20px;
    padding: 1rem;
    font-size: 1rem;
    color: #333;
    background: #f8f8fc;
    box-shadow: inset 3px 3px 6px rgba(0, 0, 0, 0.1),
        inset -3px -3px 6px rgba(255, 255, 255, 0.5);
    transition: background 0.3s ease, box-shadow 0.3s ease;
}

.form-group textarea {
    resize: vertical;
    min-height: 80px;
}

.form-control:focus {
    background: #ffffff;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
    outline: none;
}

.buttons-container {
    display: flex;
    justify-content: center;
    gap: 0.938em;
    margin-top: 1.25em;
}

.create-discussions-btn {
    color: #2e2e2e;
    background: linear-gradient(135deg, #20455447, #0312144b);
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: bold;
    transition: background 0.3s ease, transform 0.2s ease;
    margin-bottom: 20px;
}

.create-discussions-btn:hover {
    transform: scale(1.1) rotate(-1deg);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    transition: all 200ms ease-in-out
}

.custom-select {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    background-color: #fefefe;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
}

.custom-select:focus {
    border-color: #4a90e2;
    box-shadow: 0 0 0 0.2rem rgba(74, 144, 226, 0.25);
    outline: none;
}

@media (max-width: 768px) {
    .discussion-container {
        flex-direction: column;
        align-items: center;
        padding: 1.5em;
        gap: 1.5em;
    }

    .form-group {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .form-group label {
        width: 100%;
        margin-bottom: 0.5em;
        text-align: left;
        flex: 0 0 20px;
    }

    button {
        font-size: 0.9rem;
        padding: 0.5em 1em;
    }
}

@media (max-width: 480px) {
    .form-group label {
        flex: 0 0 20px;
    }
}
